In [10]:
import sqlite3
import pandas as pd

def csv_to_sqlite(csv_file, db_name, tablename):
    df = pd.read_csv(csv_file)

    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()

    def create_table_from_df(df,tablename):
        col_types = []
        for col in df.columns:
            dtype = df[col].dtype
            if dtype == 'int64':
                col_type = 'INTEGER'
            elif dtype == 'float64':
                col_type = 'REAL'
            else:
                col_type = 'TEXT'
            col_types.append(f'{col} {col_type}')

        # Create table Schema
        col_definitions = ", ".join(col_types)
        create_table_query = f'CREATE TABLE IF NOT EXISTS {tablename} ({col_definitions});'

        cursor.execute(create_table_query)
        print(f"Table '{tablename}' created with schema: {col_definitions}")

    create_table_from_df(df,tablename)
    
    df.to_sql(tablename, conn, if_exists='replace', index=False)

    conn.commit()
    conn.close()
    print(f"Data Loaded into '{tablename}' table in '{db_name}' SQLite database.")

csv_file = "data.csv"
db_name = "db.db"
tablename = "gotham"

csv_to_sqlite(csv_file, db_name, tablename)

Table 'gotham' created with schema: id INTEGER, name TEXT, alias TEXT
Data Loaded into 'gotham' table in 'gotham_db.db' SQLite database.

In [5]:
def run_sql_query(db_name, query):
    try:
        conn = sqlite3.connect(db_name)
        cursor = conn.cursor()

        cursor.execute(query)

        results = cursor.fetchall()

        conn.close()

        return results
    except sqlite3.error as e:
        print("Following error occured in execution: ", e)
        return []

In [11]:
query = f"SELECT * FROM {tablename};"
results = run_sql_query(db_name, query)

if results:
    for row in results:
        print(row)

(1, 'Bruce', 'Batman')
(2, 'Selina', 'Catwoman')
(3, 'Tim', 'Robin')
(4, 'Damian', 'Heir')
(5, 'Barbara', 'Batwgirl')
(6, 'Katherine', 'Batwoman')
(7, 'Jim', 'Commisioner')

In [ ]:
from langchain_community.llms import ollama